.telaPost {
    padding: 20px;
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }

    .optionsPost {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;

        button {
            border-radius: 10px;
            border: none;
            background-color: #dddddd;
            width: 30%;
            height: 25px;
            &:hover {
                background-color: #c4c4c4;
                cursor: pointer;
            }
        }
    }

    .newPost, .editPost {
        display: flex;
        flex-direction: column;

        .inputDiv {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            &:last-of-type {
                margin-bottom: 20px;
            }

            label {
                margin-bottom: 10px;
                &:hover {
                    cursor: pointer;
                }
            }

            input, select {
                border: 1px solid;
                border-radius: 10px;
                width: 50%;
                height: 25px;
                margin: 0 auto;
                text-align: center;
            }

            textarea {
                border-radius: 10px;
            }
        }

        button {
            width: 50%;
            height: 25px;
            margin: 0 auto;
            border: none;
            border-radius: 10px;
            background-color: rgb(15, 147, 255);
            &:hover {
                cursor: pointer;
                background-color: rgb(15, 119, 255);
            }
        }
    }
}