{{yield}}

<form action="" class="cadastroForm">
    <div>
        <label for="usuarioC">Usuario</label>
        <input type="text" name="usuarioC" id="usuarioC" placeholder="Usuario">
    </div>
    <div>
        <label for="emailC">Email</label>
        <input type="email" name="emailC" id="emailC" placeholder="Email">
    </div>
    <div>
        <label for="psswrdC">Senha</label>
        <input type="password" name="psswrdC" id="psswrdC" placeholder="Senha">
    </div>
    <div>
        <label for="psswrdConfirmC">Confirmar senha</label>
        <input type="password" name="psswrdConfirmC" id="psswrdConfirmC" placeholder="Confirmar senha">
    </div>
    <button type="submit">Cadastrar</button>
</form>