{{yield}}
<footer class="footer">
    <img class="logo" src="/images/capytter.png" alt="Capytter logo">
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/user">User area</a></li>
        </ul>
    </nav>
</footer>