{{yield}}
<header class="header">
    <h1><img class="logo" src="/images/capytter.png" alt="Capytter logo"></h1>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/post">Post section</a></li>
            <li><a href="/user">User area</a></li>
        </ul>
    </nav>
</header>