{{yield}}

<form action="" class="loginForm">
    <div>
        <label for="emailL">Email</label>
        <input type="email" name="emailL" id="emailL" placeholder="Email">
    </div>
    <div>
        <label for="psswrdL">Senha</label>
        <input type="password" name="psswrdL" id="psswrdL" placeholder="Senha">
    </div>
    <button type="submit">Login</button>
</form>