{{yield}}
<form action="" class="newPost">
    <div class="inputDiv">
        <label for="tituloPost">Titulo do post</label>
        <input type="text" name="tituloPost" id="tituloPost" placeholder="Titulo">
    </div>
    <div class="inputDiv">
        <label for="autorPost">Autor do post</label>
        <input type="text" name="autorPost" id="autorPost" placeholder="Autor">
    </div>
    <div class="inputDiv">
        <label for="dataPost">Data do post</label>
        <input type="date" name="dataPost" id="dataPost">
    </div>
    <div class="inputDiv">
        <label for="textPost">Post</label>
        <textarea name="textPost" id="textPost" rows="7" maxlength="600" placeholder="Escreva seu post aqui..."></textarea>
    </div>
    <button type="submit">Publicar</button>
</form>