{{yield}}
<div class="postFeed">
    <div class="headerPost">
        <h3>{{@post_title}}</h3>
        
        <div>
            <h4>{{@post_author}}</h4>
            <p>dd/mm/aaaa</p>
        </div>
    </div>
    <div class="contentPost">
        <p>{{@post_text}}</p>
    </div>
    
</div>