{{yield}}
<div class="postFeed">
    <div class="headerPost">
        <h3>Titulo do post</h3>
        <div>
            <h4>Autor</h4>
            <p>dd/mm/aaaa</p>
        </div>
    </div>
    <div class="contentPost">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sit provident tempora, quisquam doloribus numquam, magni maxime, et ipsum error eveniet. Itaque inventore rem optio! Culpa laboriosam sapiente saepe recusandae.</p>
    </div>
    
</div>