{{yield}}
<section class="telaPost">
    <h2>Crie ou edite um post</h2>
    <div class="optionsPost">
        <button type="button" {{action 'create'}}>Criar Post</button>
        <button type="button" {{action 'edit'}}>Editar Post</button>
    </div>
    {{#if this.newPost}}
    <NewPost />
    {{else}}
    <EditPost />
    {{/if}}
</section>