{{yield}}
<section class="telaUser">
    <h2>Bem vindo User</h2>
    <p>O que voce deseja fazer?</p>
    <div>
        <a href="/post">Ver seu feed</a>
        <a href="/feed">Gerenciar posts</a>
        <a href="/login">Logout</a>
    </div>
</section>